################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/*.exe
/plugins
/node.dll
/bt.dat
/bridge/resources/.vs
/bridge/resources/GrandTheftChallenge/obj
/bridge/resources/GrandTheftChallenge/bin
/bridge/resources/GrandTheftChallenge/.vs
/bridge/runtime/*
/bridge/acl.xml
/bridge/*.txt
/client_packages/*
/client_packages/cs_packages/GrandTheftChallenge-Client/.vs
/client_packages/cs_packages/GrandTheftChallenge-Client/bin
/client_packages/cs_packages/GrandTheftChallenge-Client/obj